page-home {
.top{
    background-color: #38475a;
    text-align: center;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }    

    .colo{
        border-right: 1px #ffffff solid;
    }
}

.fbtn{
    position: absolute;
    right: 100%;
    float: left;
}
.upCard{
    margin-bottom: 50px;
}
.vl {
    border-left: 6px solid map-get($colors,dark);
    margin-top: -50px;
    height: 100px;
    position: absolute;
    left: 50%;
    z-index: -1;
}
.lastC{
    position: relative;
    top: 5px;
}
.noact{
    opacity: 0.2;
    text-align: center;
}
.noactI{
    zoom: 5;
    opacity: 0.2;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
}

