page-home {
.top{
    background-color: #38475a;
    text-align: center;
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }    

    .colo{
        border-right: 1px #ffffff solid;
    }
}


}
