page-client-details {
    .contentb {
        background-color: #F0F3F4 !important ;
    
    }
    .timeline{
    p,h2{
        color: white ;
    }
    }
    
    .ibtn{
        float: right;
    }
    .timeline {
        position: relative;
    }
    
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: map-get($colors,primary);
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    /* Container around content */
    .container {
        padding: 10px 20px ;
        position: relative;
        background-color: inherit;
    }
    
    .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid map-get($colors,primary);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border-width: 10px 10px 10px 0;
        border-color: transparent map-get($colors,primary) transparent transparent !important;
    }
    
    .content {
        padding: 5px 30px;
        background-color: map-get($colors, primary);
        position: relative;
        border-radius: 6px;
    }
    
    @media screen and (max-width: 600px) {
      .timeline::after {
        left: 31px;
      }
      
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
      
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
       .right::after {
        left: 15px;
      }
      
    }
    .topCard{
        background-color: map-get($colors,primary);
        
    .omni{
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        zoom: 10.0;

    }    
}

}
