<ion-header>
  <ion-navbar color="primary" >
    <ion-title>{{details.Name}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="whiter" (click)="gtEdit()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentb">


  <ion-card class="topCard" >
    <ion-card-content>
      <ion-icon class="omni" color="whiter" name="md-ionitron"></ion-icon>
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-item>
    <p ion-text item-start color="primary">Category</p>
    <p ion-text item-end>{{details.Category}}</p>
  </ion-item>

  <ion-item>
    <p ion-text item-start color="primary">Proposed Percentage</p>
    <p ion-text item-end>{{details.ProposedPercentage}}</p>
  </ion-item>

  <ion-item>
    <p ion-text item-start color="primary">Average Menu Pricing</p>
    <p ion-text item-end>Rs. {{details.AverageMenuPricing}}/-</p>
  </ion-item>

  <ion-item>
    <p ion-text item-start color="primary">Address</p>
    <p ion-text item-end>{{details.Address}}</p>
  </ion-item>

  <ion-item>
    <p ion-text item-start color="primary">Contact Name 1</p>
    <p ion-text item-end>{{details.ContactPersonName1}}</p>
  </ion-item>

  <ion-item>
    <p ion-text item-start color="primary">Contact Phone 1</p>
    <p ion-text item-end>{{details.ContactPersonPhone1}}</p>
  </ion-item>

  <ion-item *ngIf="details.ContactPersonName2" >
    <p ion-text item-start color="primary">Contact Name 2</p>
    <p ion-text item-end>{{details.ContactPersonName2}}</p>
  </ion-item>

  <ion-item *ngIf="details.ContactPersonPhone2" >
    <p ion-text item-start color="primary">Contact Phone 2</p>
    <p ion-text item-end>{{details.ContactPersonPhone2}}</p>
  </ion-item>

  <ion-item *ngIf="details.LastUpdatedTime" >
    <p ion-text item-start color="primary">Last Updated</p>
    <p ion-text item-end>{{details.LastUpdatedTime | date:'medium'}}</p>
  </ion-item>

  <ion-item>
    <p ion-text item-start color="primary">Added Time</p>
    <p ion-text item-end>{{details.Time | date:'medium'}}</p>
  </ion-item>

</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title color="primary" >Timeline</ion-card-title>
  </ion-card-content>
    <div class="timeline">
       
      <div class="container right" *ngFor="let a of activities | async" >
          <div class="content">
            <button item-end class="ibtn" ion-button icon-only (click)="viewCall(a)" color="whiter" clear>
              <ion-icon name="md-information-circle"></ion-icon>
            </button>

            <h2 item-start >{{a.Type}}</h2>
            <p>{{a.Title}}</p>
            <p>{{a.TimeStamp | date : 'medium'}}</p>
          </div>
        </div>
     
      </div>


</ion-card>




</ion-content>
